$mobile: 768px;

.feed-title {
  text-transform: capitalize;
}

.post-grid {
  columns: 3;
  column-gap: 16px;
  padding: 0 16px;

  > * {
    break-inside: avoid;
    display: block;
    width: 100%;
    margin-bottom: 16px;
  }
}

@media (max-width: $mobile) {
  .post-grid {
    columns: 2;
  }
}