<app-card>
  <app-card-header>
    <app-card-title>{{ 'auth.login' | translate }}</app-card-title>
  </app-card-header>
  <app-card-content>
    <app-button-provider (clicked)="loginWithGoogle()">
      <app-google-provider />
      <app-label-button>{{ 'auth.continueWithGoogle' | translate }}</app-label-button>
    </app-button-provider>
    <app-divider [text]="'auth.orDivider' | translate" />
    <app-input
      type="email"
      [label]="'auth.email' | translate"
      [placeholder]="'auth.email' | translate"
      [ngModel]="email()"
      (ngModelChange)="email.set($event)" />
    <app-input
      type="password"
      [label]="'auth.password' | translate"
      [placeholder]="'auth.password' | translate"
      [ngModel]="password()"
      (ngModelChange)="password.set($event)"
      (enter)="onSubmit()" />
    <a
      routerLink="/auth/forgot-password"
      class="forgot-link"
      >{{ 'auth.forgotPassword' | translate }}</a
    >
    <app-button
      variant="primary"
      size="lg"
      [fullWidth]="true"
      [loading]="isLoading()"
      [disabled]="!email() || !password()"
      (clicked)="onSubmit()"
      >{{ 'auth.login' | translate }}</app-button
    >
  </app-card-content>
  <app-card-footer>
    <p class="text-link">
      {{ 'auth.noAccount' | translate }}
      <a
        routerLink="/auth/register"
        class="text-link-active"
        >{{ 'auth.signUpHere' | translate }}</a
      >
    </p>
    <p class="terms-link">
      {{ 'auth.agreeTerms' | translate }}
      <a
        routerLink="/auth/terms"
        class="terms-link-active"
        >{{ 'auth.terms' | translate }}</a
      >
      {{ 'common.and' | translate }}
      <a
        routerLink="/auth/privacy"
        class="terms-link-active"
        >{{ 'auth.privacy' | translate }}</a
      >.
    </p>
  </app-card-footer>
</app-card>
