<div class="pin-page">

  @if (isLoading()) {
    <div class="pin-detail-skeleton">
      <div class="skeleton img-skeleton"></div>
      <div class="pin-detail-right">
        <div class="skeleton title-skeleton"></div>
        <div class="skeleton desc-skeleton"></div>
        <div class="skeleton desc-skeleton short"></div>
      </div>
    </div>
  }

  @if (pin(); as pin) {
    <div class="pin-detail-container">

      <!-- ── Image side ──────────────────────────────────────────── -->
      <div class="pin-detail-image-side">
        <div class="pin-image-wrapper">
          <img
            [src]="pin.imageUrl"
            [alt]="pin.title || ('pin.noTitle' | translate)"
            class="pin-detail-image"
            loading="eager"
          />
        </div>
      </div>

      <!-- ── Info side ───────────────────────────────────────────── -->
      <div class="pin-detail-info">
        <!-- Actions bar -->
        <div class="pin-detail-actions mb-3xl mt-sm">
          <button class="pin-action-icon-btn-like" >
            <span class="material-symbols-rounded fii-like" style="font-size: 22px; color: red;">favorite</span> <span style="font-size: 16px; font-weight: 900;">107</span>
          </button>
          <button class="pin-action-icon-btn">
            <span class="material-symbols-rounded">more_horiz</span>
          </button>
          <div class="save-group">
            <button
              class="pin-save-btn-large"
              [class.saved]="false"
            >
             Saiba Mais
            </button>
          </div>
        </div>

        <div class="pin-save-count">
          <span>{{ formatCount(pin.saveCount) }} visualizações</span> • <span>1 ano atrás</span>
        </div>
        <!-- Title -->
        @if (pin.title) {
          <h1 class="pin-detail-title">{{ pin.title }}</h1>
        }
        <!-- Description -->
        @if (pin.description) {
          <p class="pin-detail-desc mb-3xl">{{ pin.description }}<span  style="font-size: 12px; font-weight: 900;"> #VagasTI  #PythonJobs  #DesenvolvimentoBackend  #CarreiraEmTech  #TrabalheNaDigix</span></p>
        }
        


        <!-- Author -->
        <div class="pin-detail-author mb-sm">
          <app-user-avatar [imageUrl]="pin.author.avatarUrl" [alt]="pin.author.displayName" size="md" />
          <div class="author-info">
            <a class="author-name" [routerLink]="['/' + pin.author.username]">
              {{ pin.author.displayName }}
            </a>
            <span class="author-sub">{{ pin.saveCount | number }} {{ 'board.followers' | translate }}</span>
          </div>
            <button class="board-selector">
              <span class="material-symbols-rounded fii-like">notifications</span>
              <span class="material-symbols-rounded">expand_more</span>
            </button>
        </div>

        <!-- Comments section -->
        <div class="pin-comments">
          <h3 class="comments-title">{{ 'pin.comments' | translate }}</h3>

          <!-- Add comment -->
          <div class="add-comment">
            <app-user-avatar imageUrl="https://i.pravatar.cc/150?img=10" alt="Me" size="sm" />
            <div class="comment-input-wrap">
              <input
                class="comment-input"
                type="text"
                [placeholder]="'pin.addComment' | translate"
                [ngModel]="commentText()"
                (ngModelChange)="commentText.set($event)"
                (keydown.enter)="addComment()"
              />
              @if (commentText()) {
                <button class="comment-submit" (click)="addComment()">
                  <span class="material-symbols-rounded">send</span>
                </button>
              }
            </div>
          </div>

          <!-- Comment list -->
          <div class="comment-list">
            @for (comment of comments(); track comment.id) {
              <div class="comment-item">
                <app-user-avatar [imageUrl]="comment.author.avatarUrl" [alt]="comment.author.displayName" size="sm" />
                <div class="comment-body">
                  <div class="comment-header">
                    <span class="comment-author">{{ comment.author.displayName }}</span>
                    <span class="comment-time">{{ timeAgo(comment.createdAt) }}</span>
                  </div>
                  <p class="comment-text">{{ comment.text }}</p>
                  @if ((comment.likesCount ?? 0) > 0) {
                    <span class="comment-likes">
                      <span class="material-symbols-rounded heart">favorite</span>
                      {{ comment.likesCount }}
                    </span>
                  }
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>

    <!-- Related pins -->
    <div class="related-pins">
      <h2 class="related-title">{{ 'pin.relatedPins' | translate }}</h2>
      <app-masonry-grid [pins]="relatedPins()" />
    </div>
  }
</div>
