<div class="home-page">
  <home-trending-topic
    [topics]="trendingTopics()"
    [isLoading]="isLoadingTrendingTopics()"
    (topicSelect)="search($event)" />

  <home-daily-story
    [stories]="dailyStories()"
    [isLoading]="isLoadingDailyStories()" />

  <home-dynamic-interest-tabs
    [tabs]="interestTabs()"
    [selectedTab]="selectedCategory()"
    [isLoading]="isLoadingInterestTabs()"
    (tabSelect)="selectCategory($event)" />

  <home-media-card
    [mediaItems]="mediaItems()"
    [isLoading]="isLoading()"
    [isLoadingMore]="isLoadingMore()"
    [selectedCategory]="selectedCategory()"
    (loadMore)="onLoadMore()" />
</div>
